@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Mostean";
  src: url("/assets/fonts/mostean.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

svg {
  stroke-width: "1.5";
}

path {
  stroke-linecap: "round";
  stroke-linejoin: "round";
}

#game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: solid red 2px;
}

#game-container canvas {
  pointer-events: auto;
}

.hero {
  font-size: 180px;
  -webkit-text-stroke: 4px gold;
  font-weight: 700;
  color: black;
  opacity: 0.5;
}

.demon-background {
  background-image: url("/assets/demon-scape-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

.save-slot-background {
  background-image: url("/assets/saveSlot.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.flame-background {
  background-image: url("/assets/flames.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
}

.silver {
  color: #eaecec;
}

.save-slot {
  color: rgb(255, 184, 4);
  font-size: 32px;
  opacity: 0.8;
  z-index: 2;
  border-radius: 16px;
  height: 112px;
  width: 384px;
  border: solid rgb(255, 184, 4) 2px;
  cursor: pointer;
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
}

.background-div {
  height: 112px;
  width: 384px;
}

.save-slot:hover {
  background: black;
  color: white;
  border: solid white 2px;
}

.silver:hover {
  /* biome-ignore lint/complexity/noImportantStyles: <explanation> needed in this case*/
  color: gold !important;
}
